 
 
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
 @import url(./_reset.css);
 
 *, *::before, *::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
  
 }



 body {
    font-family: 'Roboto', sans-serif;
    overflow-x:hidden;

 }

 .fa-bars {
    display: none;
 }


 header {
    
    /* padding-left: 112.5px;
    padding-right: 112.5px; */
    padding: 41px 112.5px 0;

   display: flex;
   justify-content: space-between;
   align-items: center;
  
 }




 .nav-links {
    display: flex;
 }




/* child selector */
 nav > a {
    color:#222;
    padding:8px;
 }


 nav > a:hover {
    transform:translateY(40px);
    transition: transform 1.4s ease;
 }


 @media(max-width:840px) {
   .nav-links {
       display: none;
   }

   .fa-bars {
       display: block;
       cursor: pointer;
       font-size: 24px;
   }

   header {
       padding: 20px;
   }

  


}




 .introduction {
   display: flex;
   align-items: center;
   /* padding-left: 112.5px;
   padding-right: 112.5px; */
   padding:0 112.5px;
   flex-wrap: wrap;
 }


 .intro-left-side {
 
 

   flex-basis: 40%;
   padding-top: 117px;
   min-width: 561px;
 }

 .intro-left-side h1 {
   font-size: 4.5rem;
   font-weight: 700;
   line-height: 82px;

 }


 .intro-left-side h1 span {
   color: #FF8A56;

 }

 .intro-left-side p {
   margin: 40px 0;
 }
 .intro-right-side {

   height: 595px;
   flex:1;

   display: flex;
   justify-content: flex-end;
   padding-top: 140px;
   min-width: 500px;


 }

 .intro-right-side img {

   height: 100%;
 }

 .introduction .intro-left-side button {
padding: 17px 30px 23px;
font-weight: 400;
font-size: 18px;
background:#222;
color:#fff;
margin-right: 10px;
 }



@media(max-width:1312px) {
/* media query  */
   .intro-left-side {
  
     flex-basis: 100%;
     text-align: center;
   }

   .intro-right-side {
      justify-content: center;
   }

  
}

@media(max-width:865px) {
   .introduction {
      padding: 20px;
   }

   .intro-left-side {
      min-width:470px;

   }

   .intro-left-side h1 {
      font-size: 58px;
   }
}


/* TRUSTED BY SECTION START */

.trusted-by {
   display: flex;
   flex-direction: column;
   

}

.trusted-by h6 {
   text-align: center;
}


.companies {
   display: flex;
   justify-content: space-around;
   padding: 77px;
}



@media(max-width:768px) {
   /* pseudo elementler */

   .company:nth-child(even) {
     display: none;
   }

}


@media(max-width:576px) {
   .company:not(:first-child) {
      display: none;
   }
}
/* TRUSTED BY SECTION END */